
.main-logo{
    width: 14vw;
    min-width: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.tier-1-2{
    display: flex;
    margin: auto ;
    width: fit-content;
}
.card{
    background-repeat: no-repeat;
    background-color: white;
    height: 253px;
    width: 480px;
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);

}
.card:hover {
    -webkit-transform: translateY(20px);
        transform: translateY(20px);
}
.card:hover .info {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

.tier-1{
    background-image: url("../../Graphics/tier1.svg");
    margin-right: 25px;
   
}
.tier-2{
    background-image: url("../../Graphics/tier2.svg");
  
}
.bank{
    background-image: url("../../Graphics/bank.svg");
    margin-top: 25px !important;
    margin: auto;
}

.btn{
    font-weight: bold;
    background-color: #4484ff !important;
    color: white;
    margin-top: 160px;
    margin-right: 180px;
    width: 120px;
    font-size: 20px;
    height: 40px;
}

.btn:hover{
    background-color: #165fe6 !important;
    color: white;
}
