.invoice-approved{
    width:300px;
}
.ag-header-cell.ag-focus-managed {
    font-size: 15px;
}
.mygrid{
    padding-left: 5vw;
    padding-right: 5vw;
    // height: 20vw;
    width: 100vw;
}
.dont-like{
    text-align: center;
    width: 100vw;
    margin-bottom: 15px;
    margin-top: 15px;
}
.ag-header-cell-text {
    margin-top: -8px;
} 
.dont-like small{
    color: red;
}

.navbar-item img {
    max-height: 2.5rem;
}
.table1{
    height: 150px;
    margin-left: 8vw;
    margin-right: 8vw;
    text-align: center;
}

.ag-row{
    max-height: 50px !important;
}

.ag-theme-material .ag-cell {
    max-height: 50px !important;
}

.ag-row.ag-row-odd.ag-row-level-0.ag-row-position-absolute.ag-row-focus.ag-row-hover {
    max-height: 50px !important;
}

.ag-header-cell-label {
    justify-content: center;
 }


// .remark-class:hover{
//  color: red !important;
// }
